.bdColor[data-v-348643fc] {
  color: #2f7dc1;
}
.warningText[data-v-348643fc] {
  color: #e6a23c;
}
.dangerText[data-v-348643fc] {
  color: #d9001b;
}
.successText[data-v-348643fc] {
  color: #67c23a;
}
.warningBg[data-v-348643fc] {
  background-color: #e6a23c;
}
.dangerBg[data-v-348643fc] {
  background-color: #d9001b;
}
.successBg[data-v-348643fc] {
  background-color: #67c23a;
}
.fl_sb[data-v-348643fc] {
  display: flex;
  justify-content: space-between;
}
.fl_as[data-v-348643fc] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fl_st[data-v-348643fc] {
  display: flex;
  align-items: center;
  justify-content: start;
}
.fl_cc[data-v-348643fc] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fl_wrap[data-v-348643fc] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.colorPr[data-v-348643fc] {
  color: #2662f0;
}
.colorTxt892[data-v-348643fc] {
  color: #8f92a1;
}
.textDUb[data-v-348643fc] {
  text-decoration: underline;
}
.fz14[data-v-348643fc] {
  font-size: 14px;
}
.fz_20[data-v-348643fc] {
  font-size: 22px;
  font-weight: 400;
  color: #566770;
}
.fz_waming[data-v-348643fc] {
  color: #e6a23c;
}
.text5[data-v-348643fc] {
  display: inline-block;
  max-width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mt20[data-v-348643fc] {
  margin-top: 20px !important;
}
.noData[data-v-348643fc] {
  margin: 200px 0;
  text-align: center;
}
.el-button--primary[data-v-348643fc] {
  border: 1px solid #2f7dc1;
  color: #2f7dc1;
  background: #fff;
}
.el-button[data-v-348643fc] {
  min-width: 80px;
  border-radius: 12px;
}
.el-input__inner[data-v-348643fc] {
  border-radius: 8px;
}
.el-button--primary.bg[data-v-348643fc] {
  border-radius: 30px;
  border: 1px solid #0052cc;
  color: #fff;
  background: #0052cc;
}
.el-button--primary.bg2f[data-v-348643fc] {
  width: 100%;
  border: 1px solid #2f7dc1;
  color: #fff;
  background: #2f7dc1;
}
.el-table[data-v-348643fc] {
  overflow: hidden;
  border-radius: 4px;
}
.el-table .el-table__cell[data-v-348643fc] {
  padding: 22px 0;
}
.el-table .el-table__body-wrapper[data-v-348643fc] {
  padding-right: 20px;
}
.el-date-editor .el-range-separator[data-v-348643fc] {
  width: 10%;
}
.Publicexport .footProgress[data-v-348643fc] {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 230px;
  height: 25px;
  color: #112f95;
  font-size: 12px;
  width: calc(100% - 257px);
  background: #efefef;
  display: flex;
  align-items: center;
}
.Publicexport .footProgress .btn_closes[data-v-348643fc] {
  width: 18px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
}
.Publicexport[data-v-348643fc] .el-dialog__body {
  border: none;
  text-align: center;
}

.bdColor[data-v-3d1e6642] {
  color: #2f7dc1;
}
.warningText[data-v-3d1e6642] {
  color: #e6a23c;
}
.dangerText[data-v-3d1e6642] {
  color: #d9001b;
}
.successText[data-v-3d1e6642] {
  color: #67c23a;
}
.warningBg[data-v-3d1e6642] {
  background-color: #e6a23c;
}
.dangerBg[data-v-3d1e6642] {
  background-color: #d9001b;
}
.successBg[data-v-3d1e6642] {
  background-color: #67c23a;
}
.fl_sb[data-v-3d1e6642] {
  display: flex;
  justify-content: space-between;
}
.fl_as[data-v-3d1e6642] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fl_st[data-v-3d1e6642] {
  display: flex;
  align-items: center;
  justify-content: start;
}
.fl_cc[data-v-3d1e6642] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fl_wrap[data-v-3d1e6642] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.colorPr[data-v-3d1e6642] {
  color: #2662f0;
}
.colorTxt892[data-v-3d1e6642] {
  color: #8f92a1;
}
.textDUb[data-v-3d1e6642] {
  text-decoration: underline;
}
.fz14[data-v-3d1e6642] {
  font-size: 14px;
}
.fz_20[data-v-3d1e6642] {
  font-size: 22px;
  font-weight: 400;
  color: #566770;
}
.fz_waming[data-v-3d1e6642] {
  color: #e6a23c;
}
.text5[data-v-3d1e6642] {
  display: inline-block;
  max-width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mt20[data-v-3d1e6642] {
  margin-top: 20px !important;
}
.noData[data-v-3d1e6642] {
  margin: 200px 0;
  text-align: center;
}
.el-button--primary[data-v-3d1e6642] {
  border: 1px solid #2f7dc1;
  color: #2f7dc1;
  background: #fff;
}
.el-button[data-v-3d1e6642] {
  min-width: 80px;
  border-radius: 12px;
}
.el-input__inner[data-v-3d1e6642] {
  border-radius: 8px;
}
.el-button--primary.bg[data-v-3d1e6642] {
  border-radius: 30px;
  border: 1px solid #0052cc;
  color: #fff;
  background: #0052cc;
}
.el-button--primary.bg2f[data-v-3d1e6642] {
  width: 100%;
  border: 1px solid #2f7dc1;
  color: #fff;
  background: #2f7dc1;
}
.el-table[data-v-3d1e6642] {
  overflow: hidden;
  border-radius: 4px;
}
.el-table .el-table__cell[data-v-3d1e6642] {
  padding: 22px 0;
}
.el-table .el-table__body-wrapper[data-v-3d1e6642] {
  padding-right: 20px;
}
.el-date-editor .el-range-separator[data-v-3d1e6642] {
  width: 10%;
}
.tipsDanger[data-v-3d1e6642] {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #f56c6c;
}

.bdColor[data-v-770621c6] {
  color: #2f7dc1;
}
.warningText[data-v-770621c6] {
  color: #e6a23c;
}
.dangerText[data-v-770621c6] {
  color: #d9001b;
}
.successText[data-v-770621c6] {
  color: #67c23a;
}
.warningBg[data-v-770621c6] {
  background-color: #e6a23c;
}
.dangerBg[data-v-770621c6] {
  background-color: #d9001b;
}
.successBg[data-v-770621c6] {
  background-color: #67c23a;
}
.fl_sb[data-v-770621c6] {
  display: flex;
  justify-content: space-between;
}
.fl_as[data-v-770621c6] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fl_st[data-v-770621c6] {
  display: flex;
  align-items: center;
  justify-content: start;
}
.fl_cc[data-v-770621c6] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fl_wrap[data-v-770621c6] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.colorPr[data-v-770621c6] {
  color: #2662f0;
}
.colorTxt892[data-v-770621c6] {
  color: #8f92a1;
}
.textDUb[data-v-770621c6] {
  text-decoration: underline;
}
.fz14[data-v-770621c6] {
  font-size: 14px;
}
.fz_20[data-v-770621c6] {
  font-size: 22px;
  font-weight: 400;
  color: #566770;
}
.fz_waming[data-v-770621c6] {
  color: #e6a23c;
}
.text5[data-v-770621c6] {
  display: inline-block;
  max-width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mt20[data-v-770621c6] {
  margin-top: 20px !important;
}
.noData[data-v-770621c6] {
  margin: 200px 0;
  text-align: center;
}
.el-button--primary[data-v-770621c6] {
  border: 1px solid #2f7dc1;
  color: #2f7dc1;
  background: #fff;
}
.el-button[data-v-770621c6] {
  min-width: 80px;
  border-radius: 12px;
}
.el-input__inner[data-v-770621c6] {
  border-radius: 8px;
}
.el-button--primary.bg[data-v-770621c6] {
  border-radius: 30px;
  border: 1px solid #0052cc;
  color: #fff;
  background: #0052cc;
}
.el-button--primary.bg2f[data-v-770621c6] {
  width: 100%;
  border: 1px solid #2f7dc1;
  color: #fff;
  background: #2f7dc1;
}
.el-table[data-v-770621c6] {
  overflow: hidden;
  border-radius: 4px;
}
.el-table .el-table__cell[data-v-770621c6] {
  padding: 22px 0;
}
.el-table .el-table__body-wrapper[data-v-770621c6] {
  padding-right: 20px;
}
.el-date-editor .el-range-separator[data-v-770621c6] {
  width: 10%;
}
[data-v-770621c6] .el-table tr {
  cursor: pointer;
}
.doctorType li[data-v-770621c6] {
  margin-right: 6px;
}
.doctorType li span[data-v-770621c6] {
  padding-left: 2px;
}

